* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

main {
  max-width: 640px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 700px) {
  main {
    max-width: 960px;
    grid-template-columns: 2fr 1fr;
  }

  main h1 {
    grid-column: 1 / -1;
  }
}


section {
  padding: 1rem;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
}

#course-title {
  display: block;
  text-align: center;
  font-weight: 700;
}
nav a:hover {
  text-decoration: underline;
}
header {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

