@media (min-width: 700px) {
  #menu {
    display: none;
  }

  /* Keep flex on nav */
  nav {
    display: flex;
  }

  .navigation {
    display: flex;
    gap: 0;
  }

  .navigation li {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  figure {
    max-width: 320px;
  }
}
